﻿
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-dark fixed-top" style="background:#0d47a1">
            <a class="navbar-brand">
                <img src="~/images/logounp.png" height="30" alt="mdb logo">
                <text style="color:white">SISTEMA DE GRADOS Y TITULOS</text>
            </a>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <a href="https://www.facebook.com/UNIVERSIDAD-NACIONAL-DE-PIURA-123150751032509/" class="nav-link waves-effect waves-light">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
            </ul>
        </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SISTEMA DE GRADOS Y TÍTULOS</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
