﻿<!DOCTYPE html>
<html>
<head>
    <script src="js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-dark bg-info navbar-expand-sm fixed-top" style="background:black">
        @*Permite el navbar-expand-sm controlar la aparicion de los botones*@
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#Ocultar" aria-controls="Ocultar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> @*Permite el ocultar el las opciones para hacerlo responsive*@
        <a class="navbar-brand"><img src="~/images/logounp.png" width="30" height="30" class="d-inline-block align-top" alt=""></a>
        <div class="collapse navbar-collapse" id="Ocultar">
            <a class="navbar-brand" href="https://www.facebook.com/UNIVERSIDAD-NACIONAL-DE-PIURA-123150751032509/">Universidad Nacional de Piura</a>
            <div class="navbar-nav">
                <ul class="navbar-nav mr-auto">
                    @*<li class="nav-item">
                        <a class="nav-link" href="/Apertura/AceptarSolicitud">Aceptar Solicitud</a>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="/Apertura/ConsultarSolicitud">Consultar Solicitud</a>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link" href="">Cuadros Estadisticos</a>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="/Apertura/VerificarRequisitos">Verificar Requisitos</a>
                    </li>
                    <li class="nav-item navbar-toggler-right">
                        <a class="nav-link" href="/Apertura/Inicio">SALIR</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <div class="container body-content">

        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - SISTEMA DE GRADOS Y TÍTULOS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>