﻿@model WebApplication3.Models.AceptarSolicitud

@{
    ViewBag.Title = "AceptarSolicitud";
    Layout = "~/Views/Shared/LayoutNivelOperacional.cshtml";
}
@*Comienzan los metodos de javascript*@

<script src="~/JavaScript/MetodosJavaScript.js"></script>

@*Fin de metodos javascript*@

<link href="~/carpeta estilos/EstilosPrueba.css" rel="stylesheet" />

<div class="container-fluid">
    <h1 class="col-xs-10">Aprobar solicitudes</h1>
</div>

<br />

<div class="row justify-content-center">
    <h4>Solicitudes pendientes</h4>
    <br />
</div>

<div class="row justify-content-center">
    <div class="card bg-light col-9">
        <div>
            <form action="/AceptarSolicitud/AceptarSolicitud" class="row justify-content-center" method="post">
                @*<input type="text" class="form-control" id="codigo" name="codigo" placeholder="" value="" required="">*@
                <input type="submit" value="Grabar" class="btn btn-info " />
                <input type="submit" value="Rechazar" class="btn btn-info " />
            </form>
        </div>
        <br />
    </div>
</div>

<div class="col-xs-11 col-xs-offset-1">
    <table class="table table-sm table-striped table-responsive-lg table-hover">
        <thead class="table-primary">
            <tr>
                <th>Codigo de expediente</th>
                <th>Nombre del solicitante</th>
                <th>Escuela</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var fila in Model.DataSet.Tables[])*@
            @for (int i = 0; i < Model.DataSet.Tables[0].Rows.Count; i++)
            {
                <tr class="">
                    @if (Model.DataSet!=null) {
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="@i">
                            <label class="custom-control-label" for="@i">@Model.DataSet.Tables[0].Rows[i][0].ToString()</label>
                        </div>
                    </td>
                    @*<td>
                            @Model.DataSet.Tables[0].Rows[i][0].ToString()
                        </td>*@
                    <td>
                        @Model.DataSet.Tables[0].Rows[i][1].ToString()
                    </td>
                    <td>
                        @Model.DataSet.Tables[0].Rows[i][2].ToString()
                    </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
