﻿@model WebApplication3.Models.ConsultaSolicitud

@{
    ViewBag.Title = "ConsultarSolicitud";
    Layout = "~/Views/Shared/LayoutNivelExterno.cshtml";
}
@*Comienzan los metodos de javascript*@

<script src="~/JavaScript/MetodosJavaScript.js"></script>

@*Fin de metodos javascript*@

<link href="~/carpeta estilos/EstilosPrueba.css" rel="stylesheet" />

<div class="container-fluid">
    <h1 class="col-xs-10">Consultar estado de expediente</h1>
</div>

<br />

<div class="row justify-content-center">
    <div class="card bg-light col-9">
        <h4 >Ingrese el numero de expediente</h4>
        <div>
            <form action="/Apertura/ConsultarSolicitud" class="row justify-content-center" method="post">
                <input type="text" class="form-control" id="codigo" name="codigo" placeholder="" value="" required="">
                <input type="submit" value="Buscar" class="btn btn-info " />
            </form>
        </div>
        <br />
    </div>
</div>
<h4 class="text-danger">@Model.Error</h4>
<div>
    <dl class="dl-horizontal">
        <dt>Solicitante:</dt>
        @if (Model.Solicitud!=null) {
        <dd>@Model.Solicitud.Nombre_solicitante</dd>
        <dt>Asunto:</dt>
        <dd>@Model.Solicitud.Asunto</dd>
        <dt>Fecha:</dt>
        if (Model.Solicitud.Fecha_inicio.Year != 1900)
        {<dd>@Model.Solicitud.Fecha_inicio.ToShortDateString()</dd>}
        <dt>Estado:</dt>
        <dd>En Proceso</dd>       
        }
    </dl>
</div>

<div class="col-xs-11 col-xs-offset-1">
    <table class="table table-sm table-striped table-responsive-lg table-hover">
        <thead class="table-primary">
            <tr>
                <th>Dependencia</th>
                <th>Cargo</th>
                <th>Autoridad</th>
                <th>Fecha</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fila in Model.ListaDetalle)
            {
            <tr class="">
                <td>
                    @fila.Nombre_dependencia
                </td>
                <td>
                    @fila.Nombre_cargo
                </td>
                <td>
                    @fila.Nombre_autoridad
                </td>
                <td>
                    @fila.Fecha.ToShortDateString()
                </td>
                <td>
                    @fila.Estado
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>