﻿
@{
    ViewBag.Title = "Contactos";
}

<h2>Ante cualquier duda Contacte con:</h2>
<div class="container">

    <a onclick="location='https://www.facebook.com/jose.castilloalvarado'">Jóse Castillo Alvarado</a>
    <a>933 573 729</a> &nbsp;
    <br />
    <a onclick="location='https://www.facebook.com/zava.zamoravalladares'">Zamora Valladares Hector</a>
    <a>962 759 241</a>&nbsp;
    <br />
    <a onclick="location='https://www.facebook.com/KeigoMC17'">Marcelo Coronado Chaname</a>
    <a>966 549 208</a>&nbsp;
    <br />
    <a onclick="location='https://www.facebook.com/profile.php?id=100005182517691'">José Daniel</a>
    <a>936 308 799</a>

</div>

