﻿
@{
    ViewBag.Title = "Inicio";
    
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

<html>
<head>
    <title>SISTEMA DE GRADOS Y TITULOS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <link rel="stylesheet" type="text/css" href="~/Estilos/Login_Estilo.css" />
            <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
            <body>
                <div class="container h-100">
                    <div class="d-flex justify-content-center h-100">
                        <div class="user_card">
                            <div class="d-flex justify-content-center">
                                <div class="brand_logo_container">
                                    <img src="~/images/logounp.png" class="brand_logo" alt="Logo">
                                </div>
                            </div>
                                <div class="d-flex justify-content-center form_container">
                                    <form method="post">
                                        <div class="input-group mb-3">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                                            </div>
                                            <input type="text" name="Usuario" class="form-control input_user" value="" placeholder="username">
                                        </div>
                                            <div class="input-group mb-2">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                                                </div>
                                                <input type="password" name="Contraseña" class="form-control input_pass" value="" placeholder="password">
                                            </div>
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                                                            <label class="custom-control-label" for="customControlInline">Remember me</label>
                                                    </div>
                                                </div>
                                            <div class="d-flex justify-content-center mt-3 login_container">
                                                        <button type="submit" name="button" class="btn login_btn">Login</button>
                                            </div>
                                     </form>
                                </div>
                                            <div class="mt-4">
                                                <div class="d-flex justify-content-center links">
                                                    Don't have an account? <a href="#" class="ml-2">Sign Up</a>
                                                </div>
                                                <div class="d-flex justify-content-center links">
                                                    <a href="#">Forgot your password?</a>
                                                </div>
                                            </div>
                                        </div>
            </div>
                                </div>
</body>
</html>

