﻿
@{
    ViewBag.Title = "IniciarSolicitud";
    Layout = "~/Views/Shared/LayoutNivelExterno.cshtml";
}

<div class="container body-content">
    <br>
    <br>
    <h1>IniciarSolicitud</h1>
    <br>
    <hp>Para más información acerca de la documentación necesaria para este procedimiento, consulte:</hp>
    <br>
    <a href="http://www.unp.edu.pe/transparencia1/menuPlaneamiento/tupa.html">Texto Unico de Procedimientos Administrativos</a>
    <br>
    <br>
    <hp>Para consultar el estado de su solicitud de grado, diríjase a:</hp>
    <br>
    <a href="/Apertura/ConsultarSolicitud">Consulta de solicitud</a>
    <br>
    <br>
    <div>
        <h5>Requisitos</h5>
        <p>Los documentos deben estar en riguroso orden tal como lo especifica el TUPA. Los mismos deben estar dispuestos en orden secuencial en un mismo archivo de formato PDF</p>
        <input type="file" class="form-control-file" id="archivo" name="adjunto" accept=".pdf">
    </div>
    <br>
    <br>
    <div class="row justify-content-center">
        <div>
            <a href="/Apertura/SolicitudRegistrada" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Enviar solicitud</a>
        </div>
    </div>
</div>


