﻿@model SIGRAT.Models.IniciarSolicitudGradoModel

@{
    ViewBag.Title = "SolicitudRegistrada";
    Layout = "~/Views/Shared/LayoutNivelExterno.cshtml";
}

<div class="container body-content" id="solicitud_form">
    <br>
    <h2>@Model.mensaje</h2>
    <br>
    <hp>Para consultar el estado de su solicitud de grado, diríjase a:</hp>
    <br>
    <a href="/Apertura/ConsultarSolicitud">Consulta de solicitud</a>
    <br>
    <br>
    <p>Número de expediente: </p>    
    <div class="row justify-content-center"> 
        <div>
            <h4>@Model.nroExpediente</h4>
        </div>
    </div>
</div>
