﻿@model TrabajoAnalisis_v0._1.Models.Verificacion
@{
    ViewBag.Title = "NivelOperacional";
    Layout = "~/Views/Shared/LayoutNivelEstrategico.cshtml";
}


<style type="text/css">
    input {
        display: block;
        margin-bottom: 10px;
    }

    #contenedor {
        text-align: center;
        margin: 0 auto;
        width: 600px;
        padding: 5px;
    }

</style>

<link href="~/carpeta estilos/EstilosPrueba.css" rel="stylesheet" />

<div class="container-fluid">
    <h1 class="col-xs-10">Verificar Requisitos</h1>
</div>

<div class="row justify-content-center" id="contenedor">
    <div class="card bg-light col-9">
        <h4>Ingrese el Código de estudiante</h4>
        <div>
            <form action="/Apertura/VerificarRequisitos" class="row justify-content-center" method="post">
                <input type="text" class="form-control" id="codigo" name="codigo" placeholder="" value="" required="">
                <h4>Ingresar el grado</h4>
                <input type="text" class="form-control" id="requisitos" name="requisitos" placeholder="" value="" required="">
                
                <input type="submit" value="Verificar" class="btn btn-info " />
            </form>
        </div>
        <br />
    </div>
</div>

<div class="col-xs-11 col-xs-offset-1">
    <table class="table table-sm table-striped table-responsive-lg table-hover">
        <thead class="table-primary">
            <tr>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Verificar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fila in Model.Verificar)
            {
                <tr class="">
                    <td>
                        @fila.Descripcion
                    </td>
                    <td>
                        @if (fila.Estado == 1)
                        {
                            @fila.Aprobado
                        }
                        else
                        {
                            @fila.Desaprobado
                        }
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                </tr>
         }
        </tbody>
    </table>
    <div>
        <form method="post" action="">
            <input type="submit" value="Verificación" class="btn btn-info "/>
        </form>
    </div>

</div>



